* {
    margin: 0;
    padding: 0;
    font-family: 'Poppines', san-serif;
    box-sizing: border-box;
}

body {
    background-color: #080808;
    color: #fff;
}


/* HEADER CONTAINER */

#header {
    width: 100%;
    height: 100vh;
    background-image: url(assets/images/background.png);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header_text {
    margin-top: 20%;
    font-size: 30px;
}

.header_text p {
    margin-top: 20px;
    font-size: 20px;
}

.text_purple {
    color: #ff004f;
}


/* ABOUT SECTION */

#about {
    padding: 80px 0;
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about_col_1 {
    flex-basis: 35%;
}

.about_col_1 img {
    width: 100%;
    border-radius: 25px;
}

.about_col_2 {
    flex-basis: 60%;
}

.sub_title {
    font-size: 60px;
    font-weight: 500;
    color: white;
}

.tab_titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab_links {
    margin-right: 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab_links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab_links.active_link::after {
    width: 50%;
}

.tab_contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab_contents ul li span {
    color: #b54769;
    font-size: 16px;
}
.tab_contents{
    display: none;
}
.tab_contents.active_tab{
   display:block; 
}